/* -----------------MOBILE --------------- */

/* COMMON */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  padding: 20px 0;
}

h3{
  padding: 5px 0;
}

hr{
  margin: 20px 0;
}

img{
  margin-top: 20px;
  height: 150px;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
} 

/* BLOCCO LEZIONI */

#lezioni{
  background-color: #f2f2cd;
  text-align: center;
}

#lezioni .row .left,
#lezioni .row .right {
  width: 100%;
}

#lezioni .row img { 
  width:auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO STEPS */

#steps .row>.left,
#steps .row>.central,
#steps .row>.right { 
  width: 100%;
} 

#steps {
  background-color: white;
  text-align: center;
} 

/* BLOCCO PERCHE */

#why {
  background-color: #f2f2cd;
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
} 

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  width: auto;
} 


/* -----------------TABLET --------------- */

@media screen and (min-width:420px) {

  /* COMMON */

  .row {
    padding: 40px;
  } 

  .row::after {
    content: '';
    display: table;
    clear: both;
  }

  .clear {
    clear: both;
  }

  /* BLOCCO LEZIONI */

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: calc((100% / 2) - 40px);
    float: left;
    padding-bottom: 20px;
    padding-top: 25px;
    margin: 0 20px;
  }

  #lezioni .row img { 
    max-width: 100%;
  }

  #lezioni {
    background-color: #ecf0f1;
  } 

  /* BLOCCO STEPS */

  .container.grey {
    background-color: white;
  } 

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: calc((100% / 3) - 20px);
    margin: 0 10px;
  } 

  #steps .row img{
    max-width: 100%;
  }

  /* BLOCCO PERCHE */

  #why {
    background-color: #ecf0f1;
  }

  #why .row img {
    width: auto;
  } 
  
}

/* ----------------DESKTOP--------------- */

@media screen and (min-width:1200px) {

  /* COMMON */

  h1{
    font-size: 40px;
  }

  h3{
    font-size: 25px;
  }

  img {
    height: 200px;
  }

  #lezioni .row>.left, #lezioni .row>.right, 
  #steps .row>.left, #steps .row>.central, #steps .row>.right, 
  #why .row>.first, #why .row>.second, #why .row>.third {
    font-size: 18px;
  }
  
  /* BLOCCO LEZIONI */

  #lezioni .row .left,
  #lezioni .row .right {
    width: 50%;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0;
  }

  #lezioni {
    background-color: #f9f9f9;
  } 

  /* BLOCCO STEPS */

  .container.grey {
    background-color: white;
  } 

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 33%;
    margin: 0;
  } 

  /* BLOCCO PERCHE */
  #why {
    background-color: #f9f9f9;
  }

}